<div class="default-style">
  <dx-data-grid
    [dataSource]="dataSource"
    [remoteOperations]="true"
    [width]="'100%'"
    [height]="604"
    [showBorders]="true"
    [selectedRowKeys]="selectedRowKeys"
  >
    <div *dxTemplate="let group of 'groupCellTemplate'">
      <group-row-selectable
        [groupCellData]="group"
        [childRowKeys]="
          $safeNavigationMigration(
            helper?.getChildRowKeys(group.component, group.key)
          )
        "
        (onInitialized)="groupRowInit($event)"
      >
      </group-row-selectable>
    </div>
    <dxo-data-grid-selection
      [deferred]="false"
      mode="multiple"
      [allowSelectAll]="true"
      showCheckBoxesMode="always"
    ></dxo-data-grid-selection>
    <dxo-data-grid-paging [pageSize]="12"></dxo-data-grid-paging>
    <dxo-data-grid-group-panel [visible]="true"></dxo-data-grid-group-panel>
    <dxo-data-grid-grouping [autoExpandAll]="false"></dxo-data-grid-grouping>
    <dxi-data-grid-column dataField="CustomerID" caption="Customer">
      <dxo-data-grid-lookup
        [dataSource]="customersData"
        valueExpr="Value"
        displayExpr="Text"
      ></dxo-data-grid-lookup>
    </dxi-data-grid-column>
    <dxi-data-grid-column dataField="OrderDate" dataType="date">
    </dxi-data-grid-column>
    <dxi-data-grid-column dataField="Freight"> </dxi-data-grid-column>
    <dxi-data-grid-column dataField="ShipCountry" [groupIndex]="0">
    </dxi-data-grid-column>
    <dxi-data-grid-column dataField="ShipCity" [groupIndex]="2">
    </dxi-data-grid-column>
    <dxi-data-grid-column
      dataField="ShipVia"
      caption="Shipping Company"
      dataType="number"
      [groupIndex]="1"
    >
      <dxo-data-grid-lookup
        [dataSource]="shippersData"
        valueExpr="Value"
        displayExpr="Text"
      ></dxo-data-grid-lookup>
    </dxi-data-grid-column>
  </dx-data-grid>
</div>
