<div class="default-style">
  <dx-data-grid
    [dataSource]="dataSource"
    [remoteOperations]="true"
    [width]="'100%'"
    [height]="604"
    [showBorders]="true"
    [selectedRowKeys]="selectedRowKeys"
  >
    <div *dxTemplate="let group of 'groupCellTemplate'">
      <group-row-selectable
        [groupCellData]="group"
        [childRowKeys]="helper?.getChildRowKeys(group.component, group.key)"
        (onInitialized)="groupRowInit($event)">
      </group-row-selectable>
    </div>
    <dxo-selection [deferred]="false" mode="multiple" [allowSelectAll]="true" showCheckBoxesMode="always"></dxo-selection>
    <dxo-paging [pageSize]="12"></dxo-paging>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
    <dxi-column dataField="CustomerID" caption="Customer">
      <dxo-lookup
        [dataSource]="customersData"
        valueExpr="Value"
        displayExpr="Text"
      ></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="OrderDate" dataType="date">
    </dxi-column>
    <dxi-column dataField="Freight">
    </dxi-column>
    <dxi-column dataField="ShipCountry" [groupIndex]="0">
    </dxi-column>
    <dxi-column dataField="ShipCity" [groupIndex]="2">
    </dxi-column>
    <dxi-column dataField="ShipVia" caption="Shipping Company" dataType="number" [groupIndex]="1">
      <dxo-lookup
        [dataSource]="shippersData"
        valueExpr="Value"
        displayExpr="Text"
      ></dxo-lookup>
    </dxi-column>
  </dx-data-grid>
</div>
